---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import AboutMe from "../components/AboutMe.astro";
import Footer from "../components/Footer.astro";
import SectionContainer from "../components/SectionContainer.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GithubIcon from "../icons/Github.astro";
import MailIcon from "../icons/Mail.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import ProjectsIcon from "../icons/Projects.astro";
import AboutMeIcon from "../icons/AboutMe.astro";
import SocialPill from "../icons/SocialPill.astro";
import School from "../icons/School.astro";
import Studies from "../components/Studies.astro";
---

<Layout title="IvanFdez - Desarrollador Web" description="">
  <main class="px-4 scroll-margin-top: 60px;">
    <SectionContainer class="py-44 pb-32">
      <h1
        class="dark:text-white text-2xl lg:text-5xl md:text-4xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Buenas, soy Iván <a
          href="https://www.linkedin.com/in/ivan-fernandez-cerro/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>

      <h2 class="text-xl lg:text-2xl text-balance max-w-[700px]">
        <span class="text-green-800 dark:text-blue-200/90"
          >Desarrollador Web centrado en el desarrollo de software y la tecnología.</span
        >
        De Madrid,España.
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/ivan-fernandez-cerro/">
          <LinkedInIcon class="size-6" />
          Linkedin
        </SocialPill>

        <SocialPill href="https://github.com/bov0">
          <GithubIcon class="size-6" />
          Github
        </SocialPill>

        <SocialPill href="mailto:ivanfdezcerro@gmail.com">
          <MailIcon class="size-6" />
          ivanfdezcerro@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-2xl font-semibold mb-6 flex flex-row items-center">
        <BriefcaseIcon class="size-7" /> Experiencia
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="estudios">
      <h2 class="text-2xl font-semibold mb-6 flex flex-row items-center">
        <School class="size-7" /> Estudios
      </h2>
      <Studies />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-2xl font-semibold mb-6 flex flex-row items-center">
        <ProjectsIcon class="size-6" /> Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2 class="text-2xl font-semibold mb-6 flex flex-row items-center">
        <AboutMeIcon class="size-6" /> Sobre mi
      </h2>
      <AboutMe />
    </SectionContainer>

    <SectionContainer>
      <Footer />
    </SectionContainer>
  </main>
</Layout>
