---
import StudiesItem from "./StudiesItem.astro";
const STUDIES = [
  {
    date: "Septiembre 2022 - Junio 2024",
    title: "DAW - IES Palomeras",
    descriptions:[
      "Grado Superior de Desarrollo de Aplicaciones Web, en el cual trabajamos con distintas herramientas distintas metodologías de trabajo y tecnologías.",
      "Herramientas: Linux, Docker, git.",
      "Bases de datos SQL y noSQL como MySQL o MongoDB.",
      "Lenguajes: JavaScript, Python, SQL, PHP y Java.",
      "Frameworks: Angular,FastAPI, Node.js, TailwindCSS, ASP.NET Core, SpringBoot.",
      "Librerias como son React y JQuery.",
    ]
  },
  {
    date: "Marzo-2022 - Marzo 2022",
    title: "Curso de introducción a Ethical Hacking  - OpenWebinars",
    descriptions: ["Obtención de certificado de la página OpenWebinars."],
  },
  {
    date: "Septiembre 2020 - Marzo 2022",
    title: "Grado Medio SMR - IES Luis Braille",
    descriptions:
      ["Grado Medio Sistemas Microinformáticos y Redes en el cual se nos impartio asignaturas como Seguridad informática, Servicios en Red, Sistemas Operativos en Red o mi primer contacto con la programación web con la asignatura de Aplicaciones Web.",
        "Adqurí experiencia HTML, CSS, JavaScript y PHP.",
        "Soltura con sistemas operativos Linux de distintas distribuciones como Debian, Redhat, Arch.",
        "Experiencia desplegando distintos servicios en Red como DCHP, DNS, FTP, SSH"
      ]
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    STUDIES.map((experiencie) => (
      <li class="mb-10 ms-4">
        <StudiesItem {...experiencie} />
      </li>
    ))
  }
</ol>
